@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background:linear-gradient(to right,#bf7d7d,#00223e);
    
}
 .column {
    float:left;
    width:40%;
    margin-bottom: 30px;
    
     }
.row:: after {content :"";
 display:table;
clear: both;

}
ul {
   
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    word-spacing: 10px;
  }
  
  
  
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 2px;
    text-decoration:none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  .box {
    background-color:white;
    width:400px;
    height :400px;
    border: 2px ;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30%;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  body {
    background:linear-gradient(to left,#ffffff,#000000);
    
}
.button{
    border-radius:20px;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #8cccfa;
    padding: 10px 60px;
    margin-top: 20px;
}
 .button:hover{
    background-color:#5b7bdb ;
    transform:scale(1) ;
    position : relative;
    padding: 10px 60px;
    border-radius:30px;
}

select{padding: 5px 20px; border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    b
    }